div.mainAnimatedPage {
  background: rgba(25, 150, 225, 0.2);
  box-shadow: inset 0 10vh 20vh -10vh #000, inset 0 -10vh 20vh -10vh #000;
}

.libraryContainer {
  position: relative;
}

.libraryContainer .panel-left {
  height: 100vh;
}

.libraryContainer .panel-right {
  width: 69.5vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 30.5vw;
}

.libraryContainer .panel-right .itemScrollFrame {
  margin: 0;
  padding: 0 0 0 3vw;
}

.libraryContainer .panel-right .itemScrollFrame .viewContentArea {
  margin: 0;
  padding: 0;
}

.libraryContainer .panel-right .itemScrollFrame .viewContentArea .cardColumn {
  margin-right: 2vw;
}

.libraryContainer .panel-right .itemScrollFrame .viewContentArea .cardColumn:last-of-type {
  margin-right: 0;
}

.libraryContainer .panel-right .itemScrollFrame .viewContentArea .cardColumn .card {
  width: 280px;
  height: 350px;
  margin-bottom: 8vh;
}

.libraryContainer .panel-right .itemScrollFrame .viewContentArea .cardColumn .card .cardImageContainer {
  height: 350px;
}
