

div[data-type="home"] {
  background: rgba(25, 150, 225, 0.2);
  box-shadow: inset 0 10vh 20vh -10vh #000, inset 0 -10vh 20vh -10vh #000;
}

.panel-left {
  box-sizing: border-box;
  width: 30.5vw;
  padding: 1vw 0 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.panel-left .logo {
  height: 8vh;
  margin: 1vh;
  background-size: contain;
  background-image: url(../css/images/logowhite.png);
  background-repeat: no-repeat;
  background-position: center;
}

.panel-left .userOptions {
  height: 7vh;
  padding: 4vh 0;
  overflow: visible;
  text-align: center;
}

.panel-left .userOptions button {
  display: inline-block;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
}

.panel-left .userOptions button i {
  display: inline-block;
  width: 7vh;
  height: 7vh;
  margin: 0 1.5vw;
  border-radius: 50%;
  font-size: 4vh;
  line-height: 7vh;
  text-align: center;
  color: #fff;
}

.panel-left .userOptions button:focus i {
  background-color: #167996;
}

.panel-left .userViewNames {
  max-height: 73vh;
  overflow: scroll;
}

.panel-left, .tile, .cardBox {
  box-shadow: rgba(0,0,0,0.5) 0.1725vw 0.1725vw 0.5vw 0vw;
}

.panel-left .emby-button-focusscale:focus {
    -webkit-transform: none;
    transform: none;
}

.panel-right {
  width: 100%;
  margin-top: 8vh;
  margin-left: 0vw;
  overflow: hidden;
}

.panel-right .viewContentArea {
  box-sizing: border-box;
  padding-left: 5vw;
}

.tilesContainer {
  display: flex;
  width: 100%;
}

.tilesContainer > .tile {
  display: block;
  flex-shrink: 0;
  box-sizing: border-box;
  width: calc(26vh + 4px);
  height: 16vh;
  margin: 6px;
  margin-right: 3vw;
  padding: 0.8vw;
  border: none;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  color: #fff;
  transition: transform 200ms ease-in-out;
}

.tilesContainer > .tile:focus {
  transform: scale(1.05);
}

.tilesContainer > .tile .md-icon {
  font-size: 4vw;
}

.tilesContainer > .tile .title {
  display: block;
  padding-top: 1.55vw;
  font-size: 1.4vw;
  font-weight: 200;
}

.card > .cardBox-focustransform {
  transition: top 200ms ease-in-out;
  top: 0;
}
.card:focus > .cardBox-focustransform {
  top: 1vh;
}

.wideSpotlightCard {
    width: 100%;
}

.wideSpotlightCard .cardImageContainer {
    height: 44.7vh;
}
