.mainSection .raised {
    padding: .7em 1.3em;
    text-transform: none;
    margin: 0 .35em 0 0;
}

.layout-tv .personCard {
    width: 14.285714285714285714285714285714%;
}

.itemFloatClear {
    clear: both;
}

.itemScrollFrame.clippedLeft {
    margin-left: 28%;
}

.mainSection {
    display: flex;
    margin-top: 2em;
}

.smallBottomMargin {
    margin-bottom: 1em;
}

.itemPageLeft {
    padding-right: 1.7em;
}

.itemPageMain {
    flex: 1;
}

.itemTitle {
    margin: .5em 0;
}

.albumTitle {
    text-align: left;
    margin: .5em 0 0;
}

.albumMainSection {
    margin-top: 0;
}

.seasonMainSection {
    margin-top: 0;
}

.albumMainSection .itemPageLeft {
    display: none;
}

.seasonMainSection .itemPageLeft {
    display: none;
}

.seasonMainSection .itemPageMain {
    text-align: center;
}

.bulletSeparator {
    color: #167996 !important;
    margin: 0 .35em;
}

.mediaInfo {
    margin: 1em 0;
    display: flex;
    align-items: center;
}

.albumMainSection .mediaInfo {
    margin: 0;
}

.itemPageButtonsContainer {
    display: flex;
    align-items: center;
    margin: 1.5em 0;
}

.mainSection .itemPageButtons {
    margin-right: 1em;
}

.itemPageUserDataIcons button {
    margin-left: .25em !important;
}

.itemPageFixedLeft .itemPageUserDataIcons {
    margin-top: 1em;
    text-align: center;
}

.albumMainSection .itemPageUserDataIcons {
    display: none !important;
}

.itemPageFixedLeft .itemPageButtons button {
    padding-top: .3em;
    padding-bottom: .45em;
    margin: .35em 0;
    text-transform: none;
}

.detailImageContainer {
    /* Eliminates the gap of space between the image and progress bar*/
    line-height: 1;
}

    .detailImageContainer .itemProgressBar {
        position: relative;
        /* Slightly higher than it's height' */
        top: -.5em;
    }

.detailImage {
    min-width: 20vw;
    max-width: 35vw;
    min-height: 30vh;
    max-height: 67vh;
    box-shadow: 0 0 .8em #000;
    border: 1px solid #222;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.itemPageFixedLeft {
    position: absolute;
    top: 10%;
    left: 0;
    width: 25%;
    padding: 1.25em 2em 0;
}

.leftFixedDetailImageContainer .detailImage {
    min-width: 0 !important;
    max-height: none !important;
    max-width: none !important;
    width: 100%;
    margin-bottom: 1em;
}

.trackList {
    margin: 1em 0 0 -.5em;
}

.episodes {
    margin: 1em 0 0 -.5em;
    text-align: left;
}

.mediaInfoIcons {
    margin: 1.25em 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

    .mediaInfoIcons > .mediaInfoText {
        margin-right: .5em;
    }

.mediaInfoText-upper {
    text-transform: uppercase;
}

.itemNextUpSection .backdropCard {
    width: 30% !important;
}

.mediaInfoImageIcon img {
    max-height: 100%;
}

.squareCard.chapterCard {
    width: 20%;
}

.parentName {
    display: flex;
    align-items: center;
}

.parentNameDivider {
    margin: 0 .25em;
}

.itemVerticalScrollSlider {
    /* Needed to position the logo */
    position: relative;
}

.detailLogo {
    width: 13vw;
    height: 3vw;
    position: absolute;
    top: 8.5%;
    right: 7%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

@media all and (max-width: 87.5em) {

    .detailLogo {
        right: 5%;
    }
}

@media all and (max-width: 75em) {

    .detailLogo {
        right: 2%;
    }
}

@media all and (max-width: 68.75em) {

    .detailLogo {
        display: none;
    }
}

.layout-tv .itemVerticalSection {
    margin-bottom: 3.4em !important;
}


/* ----------------------------
   Overrides
   ---------------------------- */

.detailBackgroundContainer.withBackdrop {
  background: transparent;
}

/* Movie */
.itemPageContainer .itemTitle, .tagline {
  display: block;
  width: 100%;
  position: absolute;
  top: 1vh;
  left: 0;
  text-align: center;
}

.itemPageContainer .tagline {
  top: 3.5vh;
  font-weight: 200;
}

.itemPageContainer .detailLogo {
  position: absolute;
  top: 3vh;
  left: 2vw;
}

.itemPageContainer .detailImage {
  position: absolute;
  top: 13vh;
  left: 3vw;
  max-height: 78vh;
  max-width: 29vw;
}

.itemPageContainer .genres {
  position: absolute;
  bottom: 1vh;
  left: 3vw;
  width: 26vw;
  text-align: center;
}

.itemPageContainer .peopleSection {
  width: 50vw;
  position: absolute;
  top: 13vh;
  left: 33vw;
}

.itemPageContainer .peopleSection .sectionTitle {
  display: none;
}

.itemPageContainer .peopleSection .personCard {
  position: relative;
  width: 10.1vw;
  font-weight: 200;
  font-size: 1em;
}

.itemPageContainer .peopleSection .personCard .cardFooter {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: transparent;
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%);
  box-sizing: border-box;
  padding: 1vh 0vw;
}

.itemPageContainer .mediaInfoPrimary {
  display: block;
  width: 50vw;
  position: absolute;
  top: 40vh;
  left: 33vw;
  background-color: rgba(0,0,0,0.3);
  padding: 2vh 1vw;
  box-sizing: border-box;
  line-height: 4vh;
}

.itemPageContainer .mediaInfoPrimary > div {
  display: inline-block;
}

.itemPageContainer .overview {
  width: 50vw;
  height: 27vh;
  position: absolute;
  top: 49vh;
  left: 33vw;
  box-sizing: border-box;
  padding: 30px;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.3);
}

.itemPageContainer .itemPageButtonsContainer {
  display: block;
  position: absolute;
  bottom: 6vh;
  left: 33vw;
  width: 67vw;
}

.itemPageContainer .itemPageButtonsContainer .itemPageButtons,
.itemPageContainer .itemPageButtonsContainer .itemPageUserDataIcons {
  display: inline-block;
  margin: 0;
}

.itemPageContainer .itemPageButtonsContainer button {
  display: inline-block;
  width: 8vw !important;
  height: 10vh !important;
  margin: 0.075vw !important;
  border-radius: 0 !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
  text-align: center !important;
}

.itemPageContainer .mediaInfoIcons {
  position: absolute;
  bottom: 0vh;
  right: 8vw;
}
.itemPageContainer .mediaInfoIcons .mediaInfoText {
  background-color: rgba(0,0,0,0.3);
}

.itemPageContainer .childrenSection, .extrasSection, .moreFromSection, .similarSection, .scenesSection, .itemNextUpSection, .seriesTimerScheduleSection {
  display: none;
}

/* Series */
.itemPageContainer.seasons .overview,
.itemPageContainer.seasons .peopleSection,
.itemPageContainer.seasons .mediaInfoPrimary,
.itemPageContainer.seasons .itemPageButtonsContainer {
  display: none;
}

.itemPageContainer.seasons .childrenSection {
  display: block;
  width: 50vw;
  height: 82vh;
  position: absolute;
  top: 10vh;
  left: 30vw;
  overflow-y: auto;
}

.itemPageContainer.seasons .childrenSection .portraitCard-scalable {
  display: block;
  width: 25%;
  padding: 0 !important;
  margin: 0;
  background: rgba(0, 0, 0, 0.4);
}


/* Episodes */
.itemPageContainer.episodeList .overview,
.itemPageContainer.episodeList .peopleSection,
.itemPageContainer.episodeList .mediaInfoPrimary,
.itemPageContainer.episodeList .itemPageButtonsContainer {
  display: none;
}

.itemPageContainer.episodeList .episodes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 95%;
  height: 90%;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 10%;
  left: 0%;
  overflow-y: auto;
  color: #cc0000;
}

.itemPageContainer.episodeList .episodes::-webkit-scrollbar {
  display: none;
}

.itemPageContainer.episodeList .episodes .listItem {
  display:block;
  box-sizing: border-box;
  width: 23%;
  margin: 1%;
  padding: 2px;
  background: rgba(0, 0, 0, 0.4);
}

.itemPageContainer.episodeList .episodes .listItem:focus {
  background: rgba(0, 0, 0, 0.4) !important;
  border-radius: 0;
  border: 2px solid #167996 !important;
}

.itemPageContainer.episodeList .episodes .listItem .listItemImage {
  width: 100%;
  height: 18vh;
  margin: 0;
}

.itemPageContainer.episodeList .episodes .listItem .listItemBody {
  display: block;
  width: 100%;
  padding: 0;
  text-align: center;
}

.itemPageContainer.episodeList .episodes .listItem .listItemBody .secondary {
  display: none;
}

/* Episode */
.itemPageContainer.episode .peopleSection {
  overflow-x: auto;
  overflow-y: hidden;
}

.itemPageContainer.episode .peopleSection::-webkit-scrollbar {
  display: none;
}

/* Music */
.itemPageContainer.music .overview,
.itemPageContainer.music .peopleSection,
.itemPageContainer.music .mediaInfoPrimary,
.itemPageContainer.music .genres,
.itemPageContainer.music .itemPageButtonsContainer {
  display: none;
}

.itemPageContainer.music .detailImage {
  position: absolute;
  top: 0vh;
  left: 3vw;
  max-height: 78vh;
  max-width: 29vw;
}

.itemPageContainer.music .itemPageButtons {
  position: absolute;
  top: 60vh;
  left: 10vw;
  width: 15vw;
}

.itemPageContainer.music .itemPageUserDataIcons {
  position: absolute;
  top: 78vh;
  left: 10vw;
  width: 15vw;
}

.itemPageContainer.music .childrenSection {
  display: block;
  width: 60vw;
  height: 82vh;
  position: absolute;
  top: 10vh;
  left: 2vw;
  overflow-y: auto;
}

.itemPageContainer.music .childrenSection .portraitCard-scalable {
  display: block;
  width: 25%;
  padding: 0 !important;
  margin: 0;
  background: rgba(0, 0, 0, 0.4);
}

.itemPageContainer.music .trackList {
  margin: 4em 0 -4em;
}

.itemPageContainer.music .trackList .listItem,
.itemPageContainer.music .trackList .listItem-shaded {
  background: none;
}

.itemPageContainer.music .trackList .listItem:focus {
  background-color: #167996 !important;
  border-radius: 0;
}

.itemPageContainer.music .trackList .listItem .listItemBody {
  padding: 1vh 2vw;
}
